{% extends 'base.html.twig' %}

{% block title %}Billings{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Billings</h1>
                {# <a href="{{ path('billing_new') }}">Create new</a> #}
                <table class="table table-striped table-hover table-small">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>AmountPaid</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for billing in billings %}
                        <tr>
                            <td>{{ billing.id }}</td>
                            <td>{{ billing.date ? billing.date|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ billing.amountPaid }}</td>
                            <td>
                                <a href="{{ path('billing_show', {'id': billing.id}) }}">show</a>
                                <a href="{{ path('billing_edit', {'id': billing.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
