{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <h1>Appointment</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Patient</th>
                        <td>{{ appointment.client }}</td>
                    </tr>
                    <tr>
                        <th>Starting</th>
                        <td>{{ appointment.startDate ? appointment.startDate|date('F jS Y H:i') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Ending</th>
                        <td>{{ appointment.endDate ? appointment.endDate|date('F jS Y H:i') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ appointment.description|raw }}</td>
                    </tr>
                    {# <tr>
                        <th>Noshow</th>
                        <td>{{ appointment.noshow ? 'Yes' : 'No' }}</td>
                    </tr> #}
                </tbody>
            </table>
            <div class="btn-group">
                <a class="btn btn-secondary" href="{{ path('appointment_index') }}">back to list</a>
                <a class="btn btn-warning" href="{{ path('appointment_edit', {'id': appointment.id}) }}">edit</a>
            </div>
        </div>
    </section>


    {# {{ include('appointment/_delete_form.html.twig') }} #}
{% endblock %}
