{% extends 'base.html.twig' %}

{% block title %}StockItem index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>List of Stock Items</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-sm small table-striped table-success table hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>DateIn</th>
                    <th>DateOut</th>
                    <th>Cost</th>
                    <th>SellingPrice</th>
                    <th>Revenue</th>
                    <th>CreditedAmount</th>
                    <th>DebitedAmount</th>
                    <th>SoldOut</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for stock_item in stock_items %}
                <tr>
                    <td>{{ stock_item.id }}</td>
                    <td>{{ stock_item.name }}</td>
                    <td>{{ stock_item.quantity }}</td>
                    <td>{{ stock_item.dateIn ? stock_item.dateIn|date('Y-m-d') : '' }}</td>
                    <td>{{ stock_item.dateOut ? stock_item.dateOut|date('Y-m-d') : '' }}</td>
                    <td>{{ stock_item.cost }}</td>
                    <td>{{ stock_item.sellingPrice }}</td>
                    <td>{{ stock_item.revenue }}</td>
                    <td>{{ stock_item.creditedAmount }}</td>
                    <td>{{ stock_item.debitedAmount }}</td>
                    <td>{{ stock_item.soldOut ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('stock_show', {'id': stock_item.id}) }}">show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
